@charset "UTF-8";

body, div, dl, dt, dd, ul, ol, menu, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td, p {
    margin: 0;
    padding: 0;
}

#main {
	margin : 0 auto;
	flex-basis: 1100px;
}
#main-serve {
	margin-left : 20px;
	background-color : #fafafa;
	font-size : 20px;
	padding : 5px;
}
#main-serve > span {
	font-size : 13px;
	color : black;
	padding : 2px 15px 2px 10px;
	border-right : 1px solid #f0f0f0;
}
#main-serve > span > a {
	text-decoration: none;
	color : black;
}
#main-serve > span > a:hover {
	text-decoration: none;
	color: #4285f4;
}
#main-serve > ul {
	list-style : none;
	position : relative;
	float : right;
	font-weight : bold;
	font-size : 13px;
	margin-right : 10px;
	padding : 3px 5px;
	width : 90px;
	height : 30px;	
}
#main-serve > ul > li {

}
#main-serve > ul > li > a {
	text-decoration: none;
	color : black;
}
#main-serve > ul > li:hover > ul {
	display : block;
	background-color : #fafafa;
	padding-bottom : 10px;
}
#main-serve > ul > li > ul {
	display : none;
	position : relative;
	top : 10px;
	list-style : none;
	font-weight : normal;
	width : 110px;
	height : 30px;
}
#main-serve > ul > li > ul > li > a{
	text-decoration : none;
	color : black;
}
#product {
	padding:20px;
	display : flex;
	flex-wrap: wrap; 
	width : 1060px;
}
#product > div {
	border-bottom : 1px solid gray;
	width: 223px;
	height : 457px;
	padding : 20px;
	overflow: hidden;
	display: block;
	color: #111;
	transition: box-shadow .2s ease;
	margin : 15px 0px;
}
#product > div:hover {
	box-shadow : 5px 5px 5px 5px rgba(0,0,0,0.3);
}
#product > div:hover > a{
	color : #4285f4;
}
.product-image {
	width: 223px;
	height : 223px;
}
#product-bridge{
	width : 100%;
	height: 17px;
	padding : 16px 0 5px 0;
}
#product-name{
    width: 100%;
    max-height: 48px;
    line-height: 16px;
    font-size: 12px;
    color: #111;
    text-decoration: none;
}
#product-area{
	padding-top: 3px;
	display : block;
}
#product-area-price > span{
	font-size : 12px;
}
#product-area-price > del{
	font-size : 12px;
	color : gray;
}
#product-area > em {
	display: block;
    padding-bottom: 2px;
    margin-bottom: -3px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #cb1400;
    font-family : Tahoma,sans-serif;
}
#product-area > span {
	display: inline-block;
    font-size: 11px;
    color: #cb1400;
}
#product-arrive > span {
	color: #008C00;
}
#product-star {
	float: left;
    width: 200px;
    height: 17px;
    margin-right: 3px;
    padding-top : 10px;
}
#product-star-rate{
	float : left;
	display: block;
    width: 69px;
    height: 12px;
    background: url("//img1a.coupangcdn.com/image/dragonstone/sdp/PCSDP_imageasset_171215-min.png") no-repeat;
    background-position: 0 -368px;
    text-indent: -9999px;
}
#product-star-rate-rating {
	display: block;
	margin-bottom: 1px;
    height: 12px;
    background: url("//img1a.coupangcdn.com/image/dragonstone/sdp/PCSDP_imageasset_171215-min.png") no-repeat;
    background-position: 0 -380px;
    text-indent: -9999px;
}
#product-star-count {
	display : inline-block;
	float : left;
	color: #888;
    font-size: 11px;
    font-family: Tahoma,sans-serif;
}
#product-point {
	padding-top : 15px;
}
#product-point-box{
	box-sizing: border-box;
    display: inline-block;
    padding: 0 8px;
    height: 20px;
    border-radius: 10px;
    border: solid 1px #ccc;
    background-color: #fff;
    margin-top : 5px;
}
#product-point-box > span{
	display: inline-block;
    vertical-align: top;
    color: #333;
    font-size: 12px;
    line-height : 19px;
}
#product-point-img{
	display: inline-block;
    width: 14px;
    margin-top: 2px;
    vertical-align: top;
}
#page-wrapper{
	margin: 11px 0 100px 0;
	text-align: center;
	width : 1100px;
	display: inline-block;
}
#prevbtn {
	display: inline-block;
	margin : 0 4px 0 -8px;
	background: url(//img1a.coupangcdn.com/image/coupang/list/ico_paging.png) 0 0 no-repeat;
	background-position: 0 -68px;
    text-indent: -9999em;
    vertical-align: middle;
    cursor: default;
}
#page-wrapper-beforeicon > span {
	display: block;
}
#page-wrapper > a {
	display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 0px;
    color: #555;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    vertical-align: middle;
    text-decoration: none;
    border : 1px solid transparent;
    background-color : transparent;
    cursor: pointer;
}
#page-wrapper > a.on{
	color: #0073e9;
    border: 1px solid #0073e9;
}

#page-wrapper > a:hover {
	color: red;
    text-decoration: underline;
}

#nextbtn {
	display: inline-block;
	margin : 0 4px 0 -8px;
	background: url(//img1a.coupangcdn.com/image/coupang/list/ico_paging.png) 0 0 no-repeat;
	background-position: -34px -68px;
    text-indent: -9999em;
    vertical-align: middle;
    cursor: default;
}

.footer-frame {
	position: relative;
	border-top: #ddd solid 2px;
    background: #fff;
}

.footer-layer1 {
	border-bottom: #ddd solid 1px;
    height: 34px;
    text-align: center;
    padding-top: 15px;
    white-space: nowrap;
}


.footer-layer1 > a {
	display: inline-block;
    white-space: nowrap;
    padding: 0 14px;
    font-size: 12px;
    color: #555;
    height: 12px;
    text-decoration: none;
    border-right: 1px solid gray;
}

.footer-layer1 > a:first-child{
	border-left: 0;
}

.footer-layer1 .site-picker {
	position: relative;
    font-size: 14px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-top: -9px;
    color: #212b36;
    margin-left: 5px;
}

.footer-layer1 .site-picker .site-picker-arrow {
	transition: .3s;
	display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #333;
}

.footer-layer2 {
	width: 1020px;
    height: 100px;
    margin: 30px auto;
    font-size: 12px;
    color: #555;
    line-height: 150%;
}

.footer-layer2 h1 {
	float: left;
    width: 150px;
    background-image: none;
}

.footer-layer2 h1 a {
	display: block;
	width: 117px;
	height: 34px;
    overflow: hidden;
    background: url(//static.coupangcdn.com/image/coupang/common/footer_asset_v8.png) no-repeat;
	background-position: -19px -34px;
    text-indent: -99em;
	margin-left: 10px;
	text-decoration: none;
}

.footer-layer2 a {
	color: #555;
	text-decoration: none;
}


.footer-layer2 address {
	float: left;
    width: 260px;
}

.footer-layer2 .licensee {
	text-decoration: underline;
}

.footer-layer2 .contact-info {
	float: left;
    width: 340px;
    color: #555;
}

.footer-layer2 strong {
	font-weight: bold;
    font-size: 12px;
}

.footer-layer2 .contact-info em {
	font-size: 24px;
    font-family: Tahoma;
    font-weight: bold;
    display: block;
    margin: 9px 0 11px 0;
	font-style: normal;
}

.footer-layer2 .safe-service {
	float: left;
    width: 270px;
    font-size: 11px;
}

.footer-layer3 {
	width: 1020px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    border-top: #ddd solid 1px;
}

.footer-layer3 .certification-list {
	width: 968px;
	height: 80px;
	margin: 0 auto;
	background: url(//static.coupangcdn.com/image/coupang/common/footer_asset_v12.png) no-repeat;
	background-position: -44px -92px;
	position: relative;
}

.footer-layer4 {
	background: #333;
    height: 80px;
}

.footer-layer4 .coupang-copyright {
	width: 1020px;
    margin: 0 auto;
    position: relative;
}

.footer-layer4 .coupang-copyright p {
	color: #888;
    font-size: 11px;
}

.footer-layer4 .coupang-copyright .info {
	padding: 21px 0 3px 0;
}

.footer-layer4 .coupang-copyright .sns-link {
	position: absolute;
    top: 23px;
    right: 0;
    list-style: none;
}

.footer-layer4 .coupang-copyright .sns-link li {
	float: left;
}

.footer-layer4 .coupang-copyright .sns-link a {
	width: 34px;
    height: 34px;
    margin-right: 8px;
	display: block;
    overflow: hidden;
    background: url(//static.coupangcdn.com/image/coupang/common/footer_asset_v8.png) no-repeat;
    text-indent: -99em;
    text-decoration: none;
}

.footer-layer4 .coupang-copyright .sns-link a.facebook {
	background-position: -220px -30px;
}

.footer-layer4 .coupang-copyright .sns-link a.blog {
	background-position: -348px -30px;
}

.footer-layer4 .coupang-copyright .sns-link a.instagram {
	background-position: -390px -30px;
}