* {
    margin: 0px;
    padding: 0px;
}

.skip {
    display:none;
}


h1 {
    text-align: center;
    margin:50px auto 30px;

}

h1 a img {
    width:300px;
    margin-right: 50px;
}

section {
    width: 460px;
    margin: 0 auto;
}
section #loginform {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
section #loginform fieldset {
    border: 0;
}
section #loginform fieldset ul li {
    border: 1px solid #ccc;
    background: #fff;
    display: flex;
    flex-flow:row nowrap;
    margin-bottom: 10px;
    position: relative;
}
section #loginform fieldset ul .error {
    color: #e7223d;
    padding: 10px;
    display: none;
    border: 0;
}

section #loginform fieldset ul li .id_bg{
    border-right: 1px solid #ccc;
    padding: 20px;
    width: 10px;
    background-color: #f5f5f5;
    position: relative;
}
section #loginform fieldset ul li .id_bg::after{
    content: '';
    display: block;
    background-image: url(../images/icon.svg);
    background-position: 0 0;
    width: 21px;
    height: 21px;
    left:14px;
    top:11px;
    position: absolute;

}

section #loginform fieldset ul li .pw_bg{
    border-right: 1px solid #ccc;
    padding: 20px;
    width: 10px;
    background-color: #f5f5f5;
    position: relative;
}
section #loginform fieldset ul li .pw_bg::after{
    content: '';
    display: block;
    background-image: url(../images/icon.svg);
    background-position: -21px 0;
    width: 21px;
    height: 21px;
    left:14px;
    top:11px;
    position: absolute;

}

section #loginform fieldset ul li span input {
    width: 200%;
    height: 40px;
    border: 0;
    padding-left: 10px;
}
section #loginform fieldset ul li span input::placeholder {
    font-size: 0.95rem;
    color: #aaa;
}

section #loginform fieldset ul li .pw_show_hide {
    background-image: url(../images/icon.svg);
    background-position: -105px 0;
    width: 21px;
    height: 21px;
    position: absolute;
    right: 11px;
    top: 8px;
}

section #loginform fieldset .btm {
    display: flex;
    flex-flow: row nowrap;
    padding: 15px 0;
    justify-content: space-between;
}

section #loginform fieldset .btm p label input[name=login_y] {
    appearance: none;
}
section #loginform fieldset .btm p label input[name=login_y] + span::before {
    background-color: #fff;
    border: 1px solid #ccc;
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url(../images/icon.svg);
    background-position: -65px -22px;
    margin-right: 5px;
}
section #loginform fieldset .btm p label input[name=login_y]:checked + span::before {
    background-position: -84px -21px;
}

section #loginform fieldset .btm .idpw_search {
    color:#0074e9;
    font-weight: bold;
    text-decoration-line: none;
}
section #loginform fieldset .btm .idpw_search::after {
    content:'';
    display: inline-block;
    width: 8px;
    height: 15px;
    background-image: url(../images/icon.svg);
    background-position: -104px -21px;
    margin-left: 5px;
}
section #loginform fieldset #login_btn {
    background: #0074e9;
    width: 100%;
    color: white;
    padding: 20px 0;
    border: 0;
    box-shadow: 0 2px 0 #00478f;
    font-size: 1.2rem;
    font-weight: bold;
}
section .join_link {
    border: 1px solid #aaa;
    color: #0074e9;
    padding:20px 0;
    width:100%;
    text-align: center;
    background: #fff;
    display: block;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 #ccc;
    text-decoration-line:none;
    font-size: 1.2rem;
    font-weight: bold;
}


footer {
    color: #333;
    text-align: center;
    font-size: 0.85rem;
    margin-top: 20px;
}