@charset "UTF-8";

body, div, dl, dt, dd, ul, ol, menu, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td, p {
    margin: 0;
    padding: 0;
}
/* 반응형 웹 페이지 만들기 (media query) */
@media(min-width: 1200px){
	.headerSearch{
		margin-left : 300px;
	}
	.menu-btn1{
		left : 1080px;
		display : none;
	}
	.menus > label > a {
		font-size: 20px;
		margin-left : 90px;
		text-decoration: none;
		color : black;
	}	
}
@media(max-width: 1200px){
	.headerSearch{
		margin-left : 200px;
		
	}
	.menu-btn1{
		left : 895px;
		display : none;
	}
	.menus > label > a {
		font-size: 20px;
		margin-left : 70px;
		text-decoration: none;
		color : black;
	}	
}
@media(max-width: 989px){
	.headerSearch{
		margin-left : 50px;
	}
	.menu-btn1{
		left : 670px;
		display : block;
	}
	.menu-btn2{
		display : block;
	}
	.menus > label > a {
		font-size: 20px;
		margin-left : 50px;
		text-decoration: none;
		color : black;
	}	
}
@media(max-width: 767px){

	.headerSearch{
		padding-left : 30px;
		margin-bottom : 30px;
		
	}

	.headerIcon{
		position : absolute;
		right : 0;
	}
	.menu-btn1{
		left : 490px;
	}
	.menus > label > a {
		font-size: 20px;
		margin-left : 40px;
		text-decoration: none;
		color : black;
	}	
}
@media(max-width: 600px){
	.headerSearch{
		clear : both;
		margin-top : 20px;
		padding : 0;
	}
	.menu-btn1{
		left : 500px;
	}
	.menus > label > a {
		font-size: 20px;
		margin-left : 30px;
		text-decoration: none;
		color : black;
	}	
}

@media(max-width: 500px){
	.headerSearch{
		clear : both;
		margin-top : 20px;
		padding : 0;
	}
	.menu-btn1{
		left : 325px;
	}
	.menus > label > a {
		font-size: 20px;
		margin-left : 20px;
		text-decoration: none;
		color : black;
	}	
}

.headerLogo{
	float : left;
}
/* 검색창 */
.headerSearch{
	float : left;
	margin-top: 40px;
	text-align: center;
	border-bottom: 2px solid #adadad;
    background: transparent;
}
.headerSearchKeyword{
	width: 227px;
    height: 33px;
    padding: 5px 36px 0 5px;
    box-sizing: border-box;
    background: transparent;
    border : none;
}
.headerSearchKeyword:focus{
	outline:none;	
}
.headerSearchBtn{
	background-color: transparent;
	border : none;
}
/* 장바구니, 로그인, 마이페이지 */
.headerIcon{
	float : right;
	margin-top: 15px;
}
/* 카테고리 메뉴 */
.menu {
	width : 100%;
	overflow: hidden;
}
.menu-btn1 {
	width : 20px;
	height : 20px;
	cursor: pointer;
    background-image: url(//img1a.coupangcdn.com/image/coupang/common/pc_gnb_arrow-right@2x.png);
    background-size: contain;
    display: inline-block;
    float: left;
    position: relative;
    top: 5px;
    background-color : white;
    border : 1px solid transparent;
    z-index : 1;
}
.menu-btn2 {
	width : 20px;
	height: 20px;
	left: 0;
    background-image: url(//img1a.coupangcdn.com/image/coupang/common/pc_gnb_arrow-left-gray@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    outline: none;
    background-color : white;
    border : 1px solid transparent;
    position : relative;
    top : -35px;
}
.menus {
	width : 1150px;
	height : 40px;
	transform: translateX(0px);
	transition: transform .6s ease-in-out;
}
.menus > label > a:hover {
	color : #4285f4;
	text-decoration: underline;
}
